{
  "openapi": "3.1.0",
  "info": {
    "title": "PowerChain Copilot API",
    "version": "1.0.0",
    "description": "Canonical HTTP API for PowerChain Copilot 1.0.0. Public API traffic uses the versioned /v1 surface and X-Api-Key client authentication. User/workspace operations additionally require the signed HttpOnly session cookie. The web application calls a same-origin /api/v1 gateway that injects the server-side API key; browser code never receives the key. AI and network responses do not constitute approval, dispatch, financial advice, transaction confirmation, or settlement evidence.",
    "license": {
      "name": "MIT"
    },
    "summary": "Governed SaaS API for PowerChain Copilot renewable-infrastructure operations."
  },
  "servers": [
    {
      "url": "https://api.capilot.powerchain.energy",
      "description": "Primary PowerChain Copilot API"
    },
    {
      "url": "https://capilot.powerchain.app",
      "description": "PowerChain app API gateway"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local backend"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Public API and dependency health."
    },
    {
      "name": "Auth",
      "description": "Registration, sign-in, demo session, and sign-out."
    },
    {
      "name": "Sessions",
      "description": "Session inventory, current identity, revocation, and security metadata."
    },
    {
      "name": "Dashboard",
      "description": "Workspace operational overview."
    },
    {
      "name": "Assets",
      "description": "Renewable infrastructure assets and verification state."
    },
    {
      "name": "Approvals",
      "description": "Human-governed review and mutation boundary."
    },
    {
      "name": "AI",
      "description": "Non-executing AI analysis."
    },
    {
      "name": "Chat",
      "description": "Persisted Copilot chats and compatibility routes."
    },
    {
      "name": "Messages",
      "description": "Immutable message retrieval by opaque ID."
    },
    {
      "name": "Profile",
      "description": "Authenticated user/workspace profile updates."
    },
    {
      "name": "Services",
      "description": "Backend integration configuration status."
    },
    {
      "name": "Markets",
      "description": "Server-side market data adapter."
    },
    {
      "name": "Network",
      "description": "Solana/Helius network adapter health."
    },
    {
      "name": "Contact",
      "description": "Public sales, support, beta, and partnership contact intake."
    },
    {
      "name": "Credits",
      "description": "PWRC internal usage credits and append-oriented ledger views."
    },
    {
      "name": "Tokens",
      "description": "Public token metadata configured by the PowerChain service."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "API and dependency health",
        "responses": {
          "200": {
            "description": "Health snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getHealth",
        "description": "API and dependency health"
      }
    },
    "/v1/auth/sign-in": {
      "post": {
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "Sign in and issue a signed session cookie",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  },
                  "rememberMe": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "signIn",
        "description": "Sign in and issue a signed session cookie"
      }
    },
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "Create user, workspace, membership, and session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password",
                  "workspaceName",
                  "acceptedTerms"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 12
                  },
                  "workspaceName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 160
                  },
                  "plan": {
                    "type": "string",
                    "enum": [
                      "free",
                      "pro",
                      "business"
                    ],
                    "default": "free"
                  },
                  "acceptedTerms": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created"
          },
          "409": {
            "description": "Account already exists"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "registerAccount",
        "description": "Create user, workspace, membership, and session"
      }
    },
    "/v1/auth/demo": {
      "post": {
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "Create or enter representative demo workspace",
        "responses": {
          "200": {
            "description": "Demo session created"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "openDemoWorkspace",
        "description": "Create or enter representative demo workspace"
      }
    },
    "/v1/auth/sign-out": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke current session and clear cookie",
        "responses": {
          "200": {
            "description": "Signed out"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "signOut",
        "description": "Revoke current session and clear cookie",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/sessions/current": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Current authenticated session",
        "responses": {
          "200": {
            "description": "Session context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionContextEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "getCurrentSession",
        "description": "Current authenticated session",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "User sessions",
        "responses": {
          "200": {
            "description": "Session list"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "listSessions",
        "description": "User sessions",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/sessions/{id}": {
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Revoke a session",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Session revoked"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "revokeSession",
        "description": "Revoke a session",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/security/session": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Security details for current session",
        "parameters": [
          {
            "in": "query",
            "name": "reveal",
            "schema": {
              "type": "string",
              "enum": [
                "0",
                "1"
              ]
            },
            "description": "Reveal the request IP when explicitly set to 1."
          }
        ],
        "responses": {
          "200": {
            "description": "Session security snapshot"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getSessionSecurity",
        "description": "Security details for current session",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Authenticated workspace overview",
        "responses": {
          "200": {
            "description": "Dashboard state"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getDashboard",
        "description": "Authenticated workspace overview",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Workspace assets",
        "responses": {
          "200": {
            "description": "Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "listAssets",
        "description": "Workspace assets",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Workspace approval queue",
        "responses": {
          "200": {
            "description": "Approval list"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "listApprovals",
        "description": "Workspace approval queue",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/approvals/{id}": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approve or request changes",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "request_changes"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval updated"
          },
          "403": {
            "description": "Role or origin rejected"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "updateApproval",
        "description": "Approve or request changes",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/ai/generate": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Generate an optional unbilled development preview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Managed or deterministic AI response"
          },
          "503": {
            "description": "No AI provider or allowed fallback"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "403": {
            "description": "Unbilled AI preview disabled or origin rejected"
          },
          "429": {
            "description": "Preview rate limit exceeded"
          }
        },
        "operationId": "generateAnalysis",
        "description": "Development/diagnostic analysis endpoint. Production should keep ALLOW_UNBILLED_AI_PREVIEW=false so clients use persisted chat, deterministic PWRC quotes, reservation, settlement, and receipts.",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/chat": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "List user chats",
        "responses": {
          "200": {
            "description": "Chat list"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "listChats",
        "description": "List user chats",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Create a new chat",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 120
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat created"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "createChat",
        "description": "Create a new chat",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/chat/{id}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get chat by opaque id or slug",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdOrSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat and messages"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getChat",
        "description": "Get chat by opaque id or slug",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/chat/{id}/messages": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Persist user message and generate Copilot response",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdOrSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant message",
            "mode": null,
            "and suggested actions": null,
            "headers": {
              "X-PowerChain-Quote-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-PowerChain-Quote-Hash": {
                "schema": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$"
                }
              },
              "X-PowerChain-Receipt-Id": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "operationId": "sendChatMessage",
        "description": "Persist user message and generate Copilot response A successful completed response persists a deterministic 10,000 PWRC quote, reserves atomically, settles with the delivered message, and returns a non-transferable receipt.",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/copilot": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Compatibility endpoint for current default Copilot chat",
        "responses": {
          "200": {
            "description": "Default chat messages"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getDefaultCopilotMessages",
        "description": "Compatibility endpoint for current default Copilot chat",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Compatibility endpoint to send a default Copilot message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant response",
            "headers": {
              "X-PowerChain-Quote-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-PowerChain-Quote-Hash": {
                "schema": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$"
                }
              },
              "X-PowerChain-Receipt-Id": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        },
        "operationId": "sendDefaultCopilotMessage",
        "description": "Compatibility endpoint to send a default Copilot message A successful completed response persists a deterministic 10,000 PWRC quote, reserves atomically, settles with the delivered message, and returns a non-transferable receipt.",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Retrieve one message by opaque message id",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getMessage",
        "description": "Retrieve one message by opaque message id",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/profile": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "Update profile and workspace display names",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "workspaceName"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2
                  },
                  "workspaceName": {
                    "type": "string",
                    "minLength": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "updateProfile",
        "description": "Update profile and workspace display names",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/services": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "Configured integration catalog",
        "responses": {
          "200": {
            "description": "Service catalog"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "listServices",
        "description": "Configured integration catalog",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/market/price": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Read price from configured Pyth or Birdeye adapter",
        "parameters": [
          {
            "in": "query",
            "name": "provider",
            "schema": {
              "type": "string",
              "enum": [
                "auto",
                "pyth",
                "birdeye"
              ],
              "default": "auto"
            }
          },
          {
            "in": "query",
            "name": "feedId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price result"
          },
          "422": {
            "$ref": "#/components/responses/Validation"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getMarketPrice",
        "description": "Read price from configured Pyth or Birdeye adapter",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/network/solana": {
      "get": {
        "tags": [
          "Network"
        ],
        "summary": "Solana RPC health",
        "responses": {
          "200": {
            "description": "RPC health"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "getSolanaHealth",
        "description": "Solana RPC health",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/contact": {
      "post": {
        "tags": [
          "Contact"
        ],
        "security": [
          {
            "ApiKey": []
          }
        ],
        "summary": "Submit contact, sales, or access request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "company": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 4000
                  },
                  "intent": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request stored"
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        },
        "operationId": "createContactRequest",
        "description": "Submit contact, sales, or access request"
      }
    },
    "/ws/v1/chat/{id}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "WebSocket endpoint for authenticated chat events",
        "description": "Upgrade this route to WebSocket. Authentication uses the same signed\npc_session cookie. The client falls back to HTTP polling when a\nWebSocket connection is unavailable.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityIdOrSlug"
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols"
          }
        },
        "operationId": "connectChatWebSocket",
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/v1/credits": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "getCredits",
        "summary": "Current PWRC credit account",
        "description": "Returns the authenticated user credit-account balances and the configured completed-response lifecycle. Values are integer PWRC accounting units represented as strings.",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credit account snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/credits/ledger": {
      "get": {
        "tags": [
          "Credits"
        ],
        "operationId": "listCreditLedger",
        "summary": "List PWRC credit ledger entries",
        "description": "Returns append-oriented credit movements for the authenticated workspace user.",
        "security": [
          {
            "ApiKey": [],
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit ledger entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditLedgerEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "listTokens",
        "summary": "List supported token metadata",
        "description": "Returns public token configuration only. It never includes private keys or signing material.",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token descriptors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenDescriptor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        }
      }
    },
    "/v1/tokens/pwrc": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "getPwrcToken",
        "summary": "Get PWRC token metadata",
        "description": "Returns configured PWRC public metadata. The mint address is null until configured by deployment.",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "PWRC token descriptor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TokenDescriptor"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/InvalidApiKey"
          }
        }
      }
    },
    "/v1/credits/quotes": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "List deterministic PWRC response quotes",
        "description": "List deterministic PWRC response quotes",
        "operationId": "listCreditQuotes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List deterministic PWRC response quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditQuote"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/credits/receipts": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "List non-transferable PWRC settlement receipts",
        "description": "List non-transferable PWRC settlement receipts",
        "operationId": "listCreditReceipts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List non-transferable PWRC settlement receipts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditReceipt"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "PowerChain client API key. Web clients use the same-origin gateway so the key remains server-side."
      },
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "pc_session",
        "description": "Signed HttpOnly user/workspace session cookie."
      }
    },
    "parameters": {
      "EntityId": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[a-z]{3}_[0-9a-f]{32}$"
        }
      },
      "EntityIdOrSlug": {
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 3,
          "maxLength": 128
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Validation": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "InvalidApiKey": {
        "description": "Missing or invalid PowerChain API key or authenticated session.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Insufficient PWRC credits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            },
            "example": {
              "ok": false,
              "error": {
                "code": "INSUFFICIENT_CREDITS",
                "message": "Insufficient PWRC credits for a completed Copilot response."
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "const": false
          },
          "error": {
            "type": "object",
            "required": [
              "message",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              }
            }
          }
        }
      },
      "HealthEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "data"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "required": [
              "status",
              "version",
              "timestamp",
              "database",
              "sessions",
              "ai",
              "websocket",
              "providers"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "operational",
                  "degraded"
                ]
              },
              "version": {
                "type": "string",
                "const": "1.0.0"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "database": {
                "type": "object",
                "required": [
                  "ok",
                  "adapter",
                  "latencyMs"
                ],
                "properties": {
                  "ok": {
                    "type": "boolean"
                  },
                  "adapter": {
                    "type": "string"
                  },
                  "latencyMs": {
                    "type": "number"
                  }
                }
              },
              "sessions": {
                "type": "string"
              },
              "ai": {
                "type": "string"
              },
              "websocket": {
                "type": "string"
              },
              "providers": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Workspace": {
        "type": "object",
        "required": [
          "id",
          "name",
          "slug",
          "plan",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "business"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionContextEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "data"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "required": [
              "session",
              "user",
              "workspace",
              "role"
            ],
            "properties": {
              "session": {
                "type": "object",
                "additionalProperties": true
              },
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "email"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              },
              "workspace": {
                "$ref": "#/components/schemas/Workspace"
              },
              "role": {
                "type": "string",
                "enum": [
                  "owner",
                  "admin",
                  "operator",
                  "analyst",
                  "viewer"
                ]
              }
            }
          }
        }
      },
      "Asset": {
        "type": "object",
        "required": [
          "id",
          "workspaceId",
          "slug",
          "name",
          "type",
          "location",
          "capacityMw",
          "availability",
          "status",
          "verified"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "solar",
              "wind",
              "storage",
              "ev",
              "meter"
            ]
          },
          "location": {
            "type": "string"
          },
          "capacityMw": {
            "type": "number"
          },
          "availability": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "operational",
              "attention",
              "offline"
            ]
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "chatId",
          "workspaceId",
          "userId",
          "role",
          "content",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant",
              "system"
            ]
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditAccount": {
        "type": "object",
        "required": [
          "id",
          "workspaceId",
          "userId",
          "asset",
          "decimals",
          "available",
          "reserved",
          "spent",
          "funded",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "asset": {
            "const": "PWRC"
          },
          "decimals": {
            "const": 9
          },
          "available": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "reserved": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "spent": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "funded": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditLedgerEntry": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "workspaceId",
          "userId",
          "kind",
          "amount",
          "balanceAfter",
          "reference",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "fund",
              "reserve",
              "settle",
              "release"
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "balanceAfter": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "reference": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditsEnvelope": {
        "type": "object",
        "required": [
          "ok",
          "data"
        ],
        "properties": {
          "ok": {
            "const": true
          },
          "data": {
            "type": "object",
            "required": [
              "account",
              "pricing",
              "lifecycle"
            ],
            "properties": {
              "account": {
                "$ref": "#/components/schemas/CreditAccount"
              },
              "pricing": {
                "type": "object",
                "required": [
                  "completedResponsePwrc"
                ],
                "properties": {
                  "completedResponsePwrc": {
                    "type": "string",
                    "pattern": "^[0-9]+$"
                  },
                  "pricingVersion": {
                    "type": "string",
                    "const": "pwrc-message-v1"
                  }
                }
              },
              "lifecycle": {
                "type": "array",
                "prefixItems": [
                  {
                    "const": "quote"
                  },
                  {
                    "const": "reserve"
                  },
                  {
                    "const": "deliver"
                  },
                  {
                    "const": "settle"
                  },
                  {
                    "const": "receipt"
                  }
                ],
                "minItems": 5,
                "maxItems": 5
              },
              "latestReceipt": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreditReceipt"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        }
      },
      "TokenDescriptor": {
        "type": "object",
        "required": [
          "id",
          "symbol",
          "name",
          "network",
          "standard",
          "decimals",
          "mintAddress",
          "transferFeeBps",
          "transferableReceipt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "standard": {
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          },
          "mintAddress": {
            "type": [
              "string",
              "null"
            ]
          },
          "transferFeeBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "transferableReceipt": {
            "type": "boolean"
          }
        }
      },
      "CreditQuote": {
        "type": "object",
        "required": [
          "id",
          "accountId",
          "workspaceId",
          "userId",
          "chatId",
          "requestMessageId",
          "asset",
          "amount",
          "pricingVersion",
          "canonicalPayload",
          "quoteHash",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "requestMessageId": {
            "type": "string"
          },
          "responseMessageId": {
            "type": [
              "string",
              "null"
            ]
          },
          "asset": {
            "type": "string",
            "const": "PWRC"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "pricingVersion": {
            "type": "string",
            "const": "pwrc-message-v1"
          },
          "canonicalPayload": {
            "type": "string",
            "description": "Canonical JSON payload used to derive quoteHash."
          },
          "quoteHash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "quoted",
              "reserved",
              "settled",
              "released",
              "expired"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditReceipt": {
        "type": "object",
        "required": [
          "id",
          "quoteId",
          "accountId",
          "workspaceId",
          "userId",
          "chatId",
          "responseMessageId",
          "quoteHash",
          "amount",
          "reservationLedgerId",
          "settlementLedgerId",
          "transferable",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "quoteId": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "chatId": {
            "type": "string"
          },
          "responseMessageId": {
            "type": "string"
          },
          "quoteHash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "reservationLedgerId": {
            "type": "string"
          },
          "settlementLedgerId": {
            "type": "string"
          },
          "transferable": {
            "type": "boolean",
            "const": false,
            "description": "Always false. This receipt is audit evidence, not a transferable financial token."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "examples": {
      "Unauthenticated": {
        "summary": "Authentication required",
        "value": {
          "ok": false,
          "error": {
            "message": "Sign in required.",
            "code": "UNAUTHENTICATED",
            "requestId": "req_mock_unauthenticated"
          }
        }
      },
      "ValidationError": {
        "summary": "Input validation failed",
        "value": {
          "ok": false,
          "error": {
            "message": "Prompt is required.",
            "code": "VALIDATION",
            "requestId": "req_mock_validation"
          }
        }
      },
      "RateLimited": {
        "summary": "Rate limit exceeded",
        "value": {
          "ok": false,
          "error": {
            "message": "Too many requests. Try again shortly.",
            "code": "RATE_LIMITED",
            "requestId": "req_mock_rate_limited"
          }
        }
      }
    }
  },
  "x-powerchain-stability": "stable-v1",
  "x-powerchain-sdk": "@powerchain/copilot-sdk"
}
